<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>uni0202</string>
		<string>uni0200</string>
		<string>Amacron</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Oslash</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>uni020E</string>
		<string>uni020C</string>
		<string>Eth</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_LEFT_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
	</array>
	<key>@KERN_LEFT_R</key>
	<array>
		<string>Racute</string>
		<string>R</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>Rcaron</string>
		<string>uni0212</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@KERN_LEFT_U</key>
	<array>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>U</string>
		<string>Ucircumflex</string>
		<string>uni0214</string>
		<string>Uacute</string>
		<string>uni0216</string>
	</array>
	<key>@KERN_LEFT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_LEFT__empty_lu.0_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_LEFT_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>uni0203</string>
		<string>aacute</string>
		<string>uni0201</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@KERN_LEFT_e</key>
	<array>
		<string>egrave</string>
		<string>eogonek</string>
		<string>ecircumflex</string>
		<string>uni0207</string>
		<string>uni0205</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>e</string>
	</array>
	<key>@KERN_LEFT_g</key>
	<array>
		<string>g</string>
		<string>gcedilla</string>
	</array>
	<key>@KERN_LEFT_h</key>
	<array>
		<string>h</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@KERN_LEFT_k</key>
	<array>
		<string>kcommaaccent</string>
		<string>k</string>
	</array>
	<key>@KERN_LEFT_o</key>
	<array>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>uni020F</string>
		<string>uni020D</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>uni0213</string>
		<string>rcaron</string>
		<string>uni0211</string>
	</array>
	<key>@KERN_LEFT_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni0219</string>
		<string>scaron</string>
	</array>
	<key>@KERN_LEFT_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@KERN_LEFT_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@KERN_LEFT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>uni0202</string>
		<string>uni0200</string>
		<string>Amacron</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>AE</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>G</string>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>Q</string>
		<string>O</string>
		<string>Gcedilla</string>
		<string>uni020E</string>
		<string>uni020C</string>
		<string>Oacute</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@KERN_RIGHT_U</key>
	<array>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>U</string>
		<string>Ucircumflex</string>
		<string>uni0214</string>
		<string>Uacute</string>
		<string>uni0216</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.0_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>uni0203</string>
		<string>aacute</string>
		<string>uni0201</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@KERN_RIGHT_c</key>
	<array>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>cacute</string>
		<string>c</string>
		<string>edieresis</string>
		<string>eogonek</string>
		<string>emacron</string>
		<string>o</string>
		<string>eacute</string>
		<string>uni020F</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>uni020D</string>
		<string>e</string>
		<string>g</string>
		<string>uni0207</string>
		<string>uni0205</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>q</string>
		<string>gcedilla</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_r</key>
	<array>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>uni0213</string>
		<string>rcaron</string>
		<string>uni0211</string>
	</array>
	<key>@KERN_RIGHT_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni0219</string>
		<string>scaron</string>
	</array>
	<key>@KERN_RIGHT_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@KERN_RIGHT_u</key>
	<array>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>ucircumflex</string>
		<string>uni0215</string>
		<string>uacute</string>
		<string>uni0217</string>
		<string>u</string>
	</array>
	<key>@KERN_RIGHT_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@KERN_RIGHT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_A_Left</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_L_B_Left</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_H_Left</key>
	<array>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O_Left</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_L_P_Left</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R_Left</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S_Left</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_T_Left</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U_Left</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_L_V_Left</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W_Left</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X_Left</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y_Left</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_k_Left</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_n_Left</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o_Left</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_L_r_Left</key>
	<array>
		<string>r</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_t_Left</key>
	<array>
		<string>t</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w_Left</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_A_Right</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_R_H_Right</key>
	<array>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>uni0206</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_O_Right</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gcedilla</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_R_S_Right</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_T_Right</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U_Right</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_R_V_Right</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W_Right</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_Y_Right</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_a_Right</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_R_n_Right</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o_Right</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>uni0207</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_R_u_Left</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_R_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w_Left</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
