<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0202</string>
		<string>uni0200</string>
	</array>
	<key>@MMK_L_B_Left</key>
	<array>
		<string>B</string>
		<string>uni1E02</string>
	</array>
	<key>@MMK_L_H_Left</key>
	<array>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Hcircumflex</string>
		<string>uni1E40</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
	</array>
	<key>@MMK_L_O_Left</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>Dcaron</string>
		<string>uni1E0A</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
	</array>
	<key>@MMK_L_P_Left</key>
	<array>
		<string>P</string>
		<string>uni1E56</string>
	</array>
	<key>@MMK_L_R_Left</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S_Left</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>uni1E60</string>
	</array>
	<key>@MMK_L_T_Left</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
		<string>Tcaron</string>
		<string>uni1E6A</string>
	</array>
	<key>@MMK_L_U_Left</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0216</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni0214</string>
	</array>
	<key>@MMK_L_V_Left</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W_Left</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_X_Left</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y_Left</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_k_Left</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_n_Left</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
		<string>uni1E41</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>hcircumflex</string>
	</array>
	<key>@MMK_L_o_Left</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni020F</string>
		<string>uni1E03</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni020D</string>
		<string>uni1E57</string>
	</array>
	<key>@MMK_L_r_Left</key>
	<array>
		<string>r</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0213</string>
		<string>uni0211</string>
		<string>racute</string>
	</array>
	<key>@MMK_L_t_Left</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
		<string>uni1E6B</string>
	</array>
	<key>@MMK_L_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w_Left</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_A_Right</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0202</string>
		<string>uni0200</string>
	</array>
	<key>@MMK_R_H_Right</key>
	<array>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>uni0206</string>
		<string>uni0210</string>
		<string>uni0212</string>
		<string>Dcaron</string>
		<string>uni1E0A</string>
		<string>Edotaccent</string>
		<string>Ecaron</string>
		<string>uni0204</string>
		<string>uni1E1E</string>
		<string>Hcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>uni1E40</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>O</string>
		<string>uni1E56</string>
		<string>uni01CA</string>
		<string>uni01F1</string>
	</array>
	<key>@MMK_R_O_Right</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>uni01F4</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
	</array>
	<key>@MMK_R_S_Right</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>uni1E60</string>
	</array>
	<key>@MMK_R_T_Right</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
		<string>Tcaron</string>
		<string>uni1E6A</string>
	</array>
	<key>@MMK_R_U_Right</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0216</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni0214</string>
	</array>
	<key>@MMK_R_V_Right</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W_Right</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_Y_Right</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_a_Right</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0203</string>
		<string>uni0201</string>
	</array>
	<key>@MMK_R_n_Right</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
		<string>uni1E41</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
	</array>
	<key>@MMK_R_o_Right</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>uni0207</string>
		<string>uni020F</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni020D</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>uni1E0B</string>
		<string>edotaccent</string>
		<string>ecaron</string>
		<string>uni0205</string>
	</array>
	<key>@MMK_R_u_Left</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0217</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w_Left</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
</dict>
</plist>
