<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>uni0200</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>uni0202</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oslash</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>Eth</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>Rcaron</string>
		<string>uni0212</string>
		<string>R</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Udieresis</string>
		<string>uni0214</string>
		<string>Uacute</string>
		<string>uni0216</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>uni0203</string>
		<string>aacute</string>
		<string>uni0201</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>egrave</string>
		<string>eogonek</string>
		<string>ecircumflex</string>
		<string>uni0207</string>
		<string>uni0205</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>e</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gcedilla</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>nacute</string>
		<string>m</string>
		<string>ntilde</string>
		<string>n</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>uni020F</string>
		<string>uni020D</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>uni0213</string>
		<string>rcaron</string>
		<string>uni0211</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni0219</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>uni0200</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>AE</string>
		<string>Aogonek</string>
		<string>uni0202</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>Odieresis</string>
		<string>G</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>Q</string>
		<string>O</string>
		<string>Gcedilla</string>
		<string>uni020E</string>
		<string>Ccedilla</string>
		<string>uni020C</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Udieresis</string>
		<string>uni0214</string>
		<string>Uacute</string>
		<string>uni0216</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>uni0203</string>
		<string>aacute</string>
		<string>uni0201</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>edieresis</string>
		<string>uni020F</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>gcedilla</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>cacute</string>
		<string>uni020D</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>c</string>
		<string>e</string>
		<string>g</string>
		<string>uni0207</string>
		<string>uni0205</string>
		<string>o</string>
		<string>q</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>uni0213</string>
		<string>rcaron</string>
		<string>uni0211</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni0219</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>udieresis</string>
		<string>uacute</string>
		<string>uni0217</string>
		<string>ugrave</string>
		<string>ucircumflex</string>
		<string>uni0215</string>
		<string>u</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
