<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>B</key>
	<dict>
	    <key>period</key>
	    <integer>-50</integer>
	    <key>comma</key>
	    <integer>-100</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>V</key>
	    <integer>-93</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>comma</key>
	    <integer>-180</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-120</integer>
	    <key>quotedblright</key>
	    <integer>-170</integer>
	    <key>W</key>
	    <integer>-235</integer>
	    <key>V</key>
	    <integer>-242</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>period</key>
	    <integer>-220</integer>
	    <key>comma</key>
	    <integer>-300</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>period</key>
	    <integer>-110</integer>
	    <key>comma</key>
	    <integer>-130</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>period</key>
	    <integer>-80</integer>
	    <key>comma</key>
	    <integer>-110</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>f</key>
	    <integer>-154</integer>
	</dict>
    </dict>
</plist>
