<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-83</integer>
		<key>@MMK_R_T</key>
		<integer>-174</integer>
		<key>@MMK_R_U</key>
		<integer>-75</integer>
		<key>@MMK_R_Y</key>
		<integer>-181</integer>
		<key>@MMK_R_v</key>
		<integer>-87</integer>
		<key>@MMK_R_y</key>
		<integer>-86</integer>
		<key>V</key>
		<integer>-200</integer>
		<key>W</key>
		<integer>-185</integer>
		<key>quotedblright</key>
		<integer>-200</integer>
		<key>quoteright</key>
		<integer>-180</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-57</integer>
		<key>@MMK_R_T</key>
		<integer>-75</integer>
		<key>@MMK_R_Y</key>
		<integer>-121</integer>
		<key>V</key>
		<integer>-92</integer>
		<key>W</key>
		<integer>-84</integer>
		<key>X</key>
		<integer>-65</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-105</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-33</integer>
		<key>@MMK_R_T</key>
		<integer>-17</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-85</integer>
		<key>V</key>
		<integer>-88</integer>
		<key>W</key>
		<integer>-49</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-79</integer>
		<key>@MMK_R_O</key>
		<integer>-73</integer>
		<key>@MMK_R_a</key>
		<integer>-53</integer>
		<key>@MMK_R_o</key>
		<integer>-131</integer>
		<key>@MMK_R_u</key>
		<integer>-75</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_y</key>
		<integer>-85</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-104</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-170</integer>
		<key>@MMK_R_O</key>
		<integer>-103</integer>
		<key>@MMK_R_a</key>
		<integer>-98</integer>
		<key>@MMK_R_o</key>
		<integer>-143</integer>
		<key>@MMK_R_s</key>
		<integer>-88</integer>
		<key>@MMK_R_u</key>
		<integer>-71</integer>
		<key>@MMK_R_v</key>
		<integer>-101</integer>
		<key>@MMK_R_z</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-220</integer>
		<key>period</key>
		<integer>-180</integer>
		<key>x</key>
		<integer>-78</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-17</integer>
		<key>@MMK_R_y</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-44</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-44</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>x</key>
		<integer>-42</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-19</integer>
		<key>@MMK_R_y</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-13</integer>
		<key>@MMK_R_v</key>
		<integer>-57</integer>
		<key>@MMK_R_y</key>
		<integer>-82</integer>
		<key>b</key>
		<integer>-22</integer>
		<key>x</key>
		<integer>-67</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-53</integer>
		<key>@MMK_R_o</key>
		<integer>-104</integer>
		<key>@MMK_R_s</key>
		<integer>-49</integer>
		<key>@MMK_R_u</key>
		<integer>-46</integer>
		<key>@MMK_R_v</key>
		<integer>-43</integer>
		<key>@MMK_R_y</key>
		<integer>-65</integer>
		<key>comma</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-68</integer>
		<key>@MMK_R_o</key>
		<integer>-78</integer>
		<key>comma</key>
		<integer>-160</integer>
		<key>period</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-44</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-93</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-91</integer>
		<key>@MMK_R_a</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-37</integer>
		<key>@MMK_R_y</key>
		<integer>-32</integer>
		<key>comma</key>
		<integer>-180</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-118</integer>
		<key>@MMK_R_o</key>
		<integer>-94</integer>
		<key>@MMK_R_u</key>
		<integer>-77</integer>
		<key>@MMK_R_v</key>
		<integer>-170</integer>
		<key>@MMK_R_y</key>
		<integer>-110</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-235</integer>
		<key>@MMK_R_Y</key>
		<integer>-285</integer>
		<key>@MMK_R_y</key>
		<integer>-157</integer>
		<key>V</key>
		<integer>-242</integer>
		<key>W</key>
		<integer>-235</integer>
		<key>quotedblright</key>
		<integer>-170</integer>
		<key>quoteright</key>
		<integer>-120</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-142</integer>
		<key>@MMK_R_a</key>
		<integer>-72</integer>
		<key>@MMK_R_o</key>
		<integer>-71</integer>
		<key>comma</key>
		<integer>-300</integer>
		<key>period</key>
		<integer>-220</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-188</integer>
		<key>@MMK_R_O</key>
		<integer>-71</integer>
		<key>@MMK_R_a</key>
		<integer>-41</integer>
		<key>@MMK_R_o</key>
		<integer>-107</integer>
		<key>@MMK_R_u</key>
		<integer>-37</integer>
		<key>@MMK_R_y</key>
		<integer>-52</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-110</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-183</integer>
		<key>@MMK_R_O</key>
		<integer>-74</integer>
		<key>@MMK_R_a</key>
		<integer>-57</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-110</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-49</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-61</integer>
		<key>@MMK_R_o</key>
		<integer>-91</integer>
		<key>f</key>
		<integer>-154</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-54</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-190</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-170</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-65</integer>
	</dict>
</dict>
</plist>
