<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_C</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_E</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_G</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_I</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_J</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_N</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_O</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_R</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_S</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_T</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_U</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Y</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Z</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_a</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10026</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10028</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10037</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_c</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_e</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_g</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_i</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_j</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_k</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_n</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_o</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_r</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_s</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_t</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_u</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0406</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0413</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0415</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0433</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0435</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0438</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni043A</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0443</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni0456</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_v</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_y</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_z</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_E</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_I</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_J</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_N</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_O</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_R</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_S</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_T</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_U</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Y</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Z</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_a</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10026</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10028</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10037</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_i</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_j</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_k</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_n</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_o</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_r</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_s</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_t</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_u</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0406</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0413</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0415</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0433</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0435</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0438</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni043A</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0443</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni0456</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_v</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_y</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_z</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
	</dict>
</dict>
</plist>
