<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_H_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-105</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-65</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-51</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-79</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-40</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-15</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-21</integer>
		<key>quotedblright</key>
		<integer>-113</integer>
		<key>quoteright</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-18</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-38</integer>
		<key>period</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-57</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-84</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>13</integer>
		<key>period</key>
		<integer>15</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-133</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-29</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-193</integer>
		<key>period</key>
		<integer>-228</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_H_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_O_Right</key>
		<integer>4</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-23</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-9</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-22</integer>
		<key>@MMK_R_H_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_O_Right</key>
		<integer>6</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_u_Left</key>
		<integer>8</integer>
		<key>comma</key>
		<integer>10</integer>
		<key>g</key>
		<integer>-84</integer>
		<key>period</key>
		<integer>-33</integer>
		<key>s</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-110</integer>
		<key>@MMK_R_H_Right</key>
		<integer>-18</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-45</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-6</integer>
		<key>comma</key>
		<integer>-53</integer>
		<key>g</key>
		<integer>-63</integer>
		<key>period</key>
		<integer>-43</integer>
		<key>s</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-81</integer>
		<key>@MMK_R_H_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-42</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>8</integer>
		<key>g</key>
		<integer>-34</integer>
		<key>period</key>
		<integer>8</integer>
		<key>s</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-84</integer>
		<key>@MMK_R_H_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_O_Right</key>
		<integer>9</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-41</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-84</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-33</integer>
		<key>g</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-3</integer>
		<key>s</key>
		<integer>-42</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-42</integer>
		<key>g</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-25</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-4</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-22</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-18</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-9</integer>
		<key>b</key>
		<integer>5</integer>
		<key>x</key>
		<integer>-43</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-5</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>1</integer>
		<key>@MMK_R_o_Right</key>
		<integer>3</integer>
		<key>g</key>
		<integer>2</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-23</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-7</integer>
		<key>comma</key>
		<integer>-128</integer>
		<key>period</key>
		<integer>18</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-9</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>-163</integer>
		<key>period</key>
		<integer>-103</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-4</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>20</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-71</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-195</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-5</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_H_Right</key>
		<integer>-95</integer>
		<key>@MMK_R_O_Right</key>
		<integer>12</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-27</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-37</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-26</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-29</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-137</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-94</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-75</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-136</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-27</integer>
		<key>quotedblright</key>
		<integer>-175</integer>
		<key>quoteright</key>
		<integer>-125</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>quotedblright</key>
		<integer>-213</integer>
		<key>quoteright</key>
		<integer>-150</integer>
	</dict>
	<key>Lcommaaccent</key>
	<dict>
		<key>quotedblright</key>
		<integer>-213</integer>
		<key>quoteright</key>
		<integer>-150</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-18</integer>
		<key>@MMK_R_w_Left</key>
		<integer>2</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-56</integer>
		<key>b</key>
		<integer>-22</integer>
		<key>comma</key>
		<integer>-75</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-7</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>1</integer>
		<key>d</key>
		<integer>-15</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-2</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-9</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-22</integer>
		<key>f</key>
		<integer>-95</integer>
		<key>quoteright</key>
		<integer>210</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-30</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-83</integer>
		<key>f</key>
		<integer>-78</integer>
		<key>g</key>
		<integer>-8</integer>
	</dict>
	<key>lacute</key>
	<dict>
		<key>f</key>
		<integer>-78</integer>
	</dict>
	<key>lcommaaccent</key>
	<dict>
		<key>f</key>
		<integer>-78</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-63</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-5</integer>
	</dict>
</dict>
</plist>
