<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>B</key>
	<dict>
	    <key>comma</key>
	    <integer>10</integer>
	    <key>period</key>
	    <integer>3</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>period</key>
	    <integer>-130</integer>
	    <key>comma</key>
	    <integer>-160</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-160</integer>
	    <key>quotedblright</key>
	    <integer>-210</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>v</key>
	    <integer>23</integer>
	    <key>comma</key>
	    <integer>-79</integer>
	    <key>b</key>
	    <integer>-27</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>c</key>
	    <integer>-16</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-26</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>o</key>
	    <integer>-16</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quotedblright</key>
	    <integer>50</integer>
	    <key>f</key>
	    <integer>-31</integer>
	    <key>comma</key>
	    <integer>-81</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>g</key>
	    <integer>-19</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>o</key>
	    <integer>-22</integer>
	</dict>
	<key>l</key>
	<dict>
	    <key>f</key>
	    <integer>21</integer>
	</dict>
	<key>quoteright</key>
	<dict>
	</dict>
	<key>v</key>
	<dict>
	    <key>comma</key>
	    <integer>38</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>comma</key>
	    <integer>45</integer>
	    <key>period</key>
	    <integer>31</integer>
	</dict>
    </dict>
</plist>
