<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>comma</key>
		<integer>-23</integer>
		<key>period</key>
		<integer>-8</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-203</integer>
		<key>period</key>
		<integer>-163</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-177</integer>
		<key>quoteright</key>
		<integer>-127</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>v</key>
		<integer>-50</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-3</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-9</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>o</key>
		<integer>-3</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-92</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-3</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>o</key>
		<integer>-5</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>f</key>
		<integer>-47</integer>
		<key>w</key>
		<integer>-50</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-38</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-83</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-98</integer>
		<key>period</key>
		<integer>-68</integer>
	</dict>
</dict>
</plist>
