<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-68</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-11</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-73</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-99</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-5</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-23</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-31</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-37</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-17</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-19</integer>
		<key>comma</key>
		<integer>-84</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-66</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-13</integer>
		<key>comma</key>
		<integer>-190</integer>
		<key>period</key>
		<integer>-167</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-38</integer>
		<key>comma</key>
		<integer>-76</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-46</integer>
		<key>s</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-24</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-53</integer>
		<key>g</key>
		<integer>-32</integer>
		<key>period</key>
		<integer>-38</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-23</integer>
		<key>g</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-68</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-39</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-81</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-85</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-41</integer>
		<key>comma</key>
		<integer>-84</integer>
		<key>g</key>
		<integer>-83</integer>
		<key>period</key>
		<integer>-46</integer>
		<key>s</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-17</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-7</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-13</integer>
		<key>b</key>
		<integer>-13</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-38</integer>
		<key>g</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-3</integer>
		<key>g</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-7</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-23</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-70</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-28</integer>
		<key>comma</key>
		<integer>-134</integer>
		<key>g</key>
		<integer>-8</integer>
		<key>period</key>
		<integer>-79</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-71</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-16</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-19</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-14</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-30</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-84</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-63</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-114</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-19</integer>
		<key>quotedblright</key>
		<integer>-223</integer>
		<key>quoteright</key>
		<integer>-44</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-17</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-14</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-6</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-5</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-9</integer>
		<key>c</key>
		<integer>-3</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-13</integer>
		<key>d</key>
		<integer>-4</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-3</integer>
		<key>x</key>
		<integer>-4</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-14</integer>
		<key>f</key>
		<integer>-12</integer>
		<key>quotedblright</key>
		<integer>38</integer>
		<key>quoteright</key>
		<integer>137</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>o</key>
		<integer>-5</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-11</integer>
	</dict>
</dict>
</plist>
