<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1514</integer>
	<key>capHeight</key>
	<integer>1487</integer>
	<key>descender</key>
	<integer>-410</integer>
	<key>familyName</key>
	<string>Oxygen --0_xx-0_90</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2012/05/02 22:23:41</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Oxygen</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>--0_xx-0_90</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>0</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>0</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>1638</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>410</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1901</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>483</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625000208616257</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-30</integer>
		<integer>0</integer>
		<integer>1096</integer>
		<integer>1128</integer>
		<integer>1487</integer>
		<integer>1546</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Oxygen---0_xx-0_90</string>
	<key>postscriptFullName</key>
	<string>Oxygen --0_xx-0_90</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-545</integer>
		<integer>-200</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>-6</integer>
		<integer>-55</integer>
		<integer>-63</integer>
		<integer>-65</integer>
		<integer>-68</integer>
		<integer>-73</integer>
		<integer>-75</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>-86</integer>
		<integer>-88</integer>
		<integer>-91</integer>
		<integer>-92</integer>
		<integer>-94</integer>
		<integer>-97</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>--0_xx-0_90</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>1096</integer>
</dict>
</plist>
