<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-162</integer>
		<key>period</key>
		<integer>-131</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-209</integer>
		<key>quoteright</key>
		<integer>-159</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-71</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-16</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-25</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>o</key>
		<integer>-16</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-79</integer>
		<key>f</key>
		<integer>-33</integer>
		<key>quotedblright</key>
		<integer>45</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-19</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>o</key>
		<integer>-22</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>f</key>
		<integer>19</integer>
	</dict>
</dict>
</plist>
