<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>comma</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-3</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-190</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-190</integer>
		<key>quoteright</key>
		<integer>-140</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-22</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-8</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-13</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>o</key>
		<integer>-8</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>f</key>
		<integer>-69</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-9</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>o</key>
		<integer>-14</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>f</key>
		<integer>-21</integer>
		<key>w</key>
		<integer>-22</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-17</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-37</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-44</integer>
		<key>period</key>
		<integer>-31</integer>
	</dict>
</dict>
</plist>
