<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-119</integer>
		<key>g</key>
		<integer>-7</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-198</integer>
		<key>quoteright</key>
		<integer>-39</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-5</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-3</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-4</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>o</key>
		<integer>-3</integer>
		<key>x</key>
		<integer>-4</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-13</integer>
		<key>f</key>
		<integer>-11</integer>
		<key>quotedblright</key>
		<integer>34</integer>
		<key>quoteright</key>
		<integer>122</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-17</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>o</key>
		<integer>-5</integer>
	</dict>
</dict>
</plist>
