<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.Aleft</key>
	<array>
		<string>A'</string>
		<string>V</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
	</array>
	<key>.Aright</key>
	<array>
		<string>A'</string>
		<string>V</string>
		<string>W</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>.Hleft</key>
	<array>
		<string>H'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>uni0400</string>
	</array>
	<key>.Hright</key>
	<array>
		<string>H'</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>.Oleft</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>OE</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.Oright</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>D</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.U</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>.Xleft</key>
	<array>
		<string>X'</string>
		<string>afii10024</string>
	</array>
	<key>.Xright</key>
	<array>
		<string>X'</string>
		<string>K</string>
		<string>afii10024</string>
		<string>afii10028</string>
	</array>
	<key>.dright</key>
	<array>
		<string>d'</string>
		<string>q</string>
		<string>afii10088</string>
		<string>afii10091</string>
		<string>afii10093</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>.eright</key>
	<array>
		<string>e'</string>
		<string>ae</string>
		<string>oe</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>uni0450</string>
		<string>afii10071</string>
	</array>
	<key>.l</key>
	<array>
		<string>l'</string>
		<string>i</string>
	</array>
	<key>.nleft</key>
	<array>
		<string>n'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>m</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>thorn</string>
	</array>
	<key>.nright</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
	</array>
	<key>.oleft</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>q</string>
		<string>oe</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eth</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
	</array>
	<key>.oright</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
	</array>
	<key>.vleft</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>.xleft</key>
	<array>
		<string>x'</string>
		<string>afii10072</string>
	</array>
	<key>.xright</key>
	<array>
		<string>x'</string>
		<string>k</string>
		<string>afii10072</string>
		<string>afii10076</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni0204</string>
		<string>uni0206</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gcedilla</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_L_afii10026</key>
	<array>
		<string>afii10026</string>
		<string>afii10027</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni0205</string>
		<string>uni0207</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gcedilla</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>uni0209</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_L_uni0406</key>
	<array>
		<string>afii10056</string>
		<string>uni0406</string>
	</array>
	<key>@MMK_L_uni0413</key>
	<array>
		<string>uni0403</string>
		<string>uni0413</string>
	</array>
	<key>@MMK_L_uni0415</key>
	<array>
		<string>afii10023</string>
		<string>uni0400</string>
		<string>uni0415</string>
	</array>
	<key>@MMK_L_uni0433</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
	</array>
	<key>@MMK_L_uni0435</key>
	<array>
		<string>afii10071</string>
		<string>uni0435</string>
		<string>uni0450</string>
	</array>
	<key>@MMK_L_uni0438</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni0204</string>
		<string>uni0206</string>
	</array>
	<key>@MMK_R_G</key>
	<array>
		<string>G</string>
		<string>Gcedilla</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>uni0208</string>
		<string>uni020A</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_R_afii10026</key>
	<array>
		<string>afii10026</string>
		<string>afii10027</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni0205</string>
		<string>uni0207</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gcedilla</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>uni0209</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
	<key>@MMK_R_uni0406</key>
	<array>
		<string>afii10056</string>
		<string>uni0406</string>
	</array>
	<key>@MMK_R_uni0413</key>
	<array>
		<string>uni0403</string>
		<string>uni0413</string>
	</array>
	<key>@MMK_R_uni0415</key>
	<array>
		<string>afii10023</string>
		<string>uni0400</string>
		<string>uni0415</string>
	</array>
	<key>@MMK_R_uni0433</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
	</array>
	<key>@MMK_R_uni0435</key>
	<array>
		<string>afii10071</string>
		<string>uni0435</string>
		<string>uni0450</string>
	</array>
	<key>@MMK_R_uni0438</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
