<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>t</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-6</integer>
	</dict>
</dict>
</plist>
