<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-136</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-116</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-35</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-64</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-35</integer>
		<key>quotedblright</key>
		<integer>-170</integer>
		<key>quoteright</key>
		<integer>-190</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-31</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-123</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-86</integer>
		<key>@MMK_R_g</key>
		<integer>-26</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-23</integer>
		<key>@MMK_R_s</key>
		<integer>-22</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-48</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-23</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-22</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-23</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-205</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-194</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-132</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-254</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-74</integer>
		<key>quotedblright</key>
		<integer>-240</integer>
		<key>quoteright</key>
		<integer>-190</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-5</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-29</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-110</integer>
		<key>X</key>
		<integer>-39</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-181</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_g</key>
		<integer>-43</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
		<key>comma</key>
		<integer>-290</integer>
		<key>period</key>
		<integer>-340</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-20</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-122</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-64</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-85</integer>
		<key>@MMK_R_g</key>
		<integer>-74</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_r</key>
		<integer>-42</integer>
		<key>@MMK_R_s</key>
		<integer>-39</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-46</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-54</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-16</integer>
		<key>comma</key>
		<integer>-150</integer>
		<key>period</key>
		<integer>-160</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-136</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-56</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-77</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-21</integer>
		<key>comma</key>
		<integer>-180</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-160</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-106</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-55</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-66</integer>
		<key>@MMK_R_s</key>
		<integer>-27</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-25</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-32</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-160</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-77</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-106</integer>
		<key>@MMK_R_g</key>
		<integer>-101</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-136</integer>
		<key>@MMK_R_s</key>
		<integer>-77</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-47</integer>
		<key>comma</key>
		<integer>-150</integer>
		<key>hyphen</key>
		<integer>-110</integer>
		<key>period</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-18</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-10</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-52</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-59</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-43</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-13</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-25</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-23</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-46</integer>
		<key>x</key>
		<integer>-63</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-58</integer>
		<key>@MMK_R_f</key>
		<integer>-43</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-74</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-46</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-64</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-69</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-13</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-11</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-42</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-15</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-48</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-31</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-59</integer>
		<key>x</key>
		<integer>-59</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-37</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-54</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-58</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-41</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-24</integer>
		<key>Egrave</key>
		<integer>-37</integer>
		<key>Iacute</key>
		<integer>-37</integer>
		<key>Icircumflex</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>86</integer>
		<key>T</key>
		<integer>-111</integer>
		<key>Z</key>
		<integer>54</integer>
		<key>Zcaron</key>
		<integer>54</integer>
		<key>asterisk</key>
		<integer>-111</integer>
		<key>comma</key>
		<integer>62</integer>
		<key>f</key>
		<integer>-18</integer>
		<key>question</key>
		<integer>-55</integer>
		<key>quotedbl</key>
		<integer>-74</integer>
		<key>quotesingle</key>
		<integer>-75</integer>
		<key>semicolon</key>
		<integer>62</integer>
		<key>t</key>
		<integer>-18</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-24</integer>
		<key>Egrave</key>
		<integer>-37</integer>
		<key>Iacute</key>
		<integer>-37</integer>
		<key>Icircumflex</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>86</integer>
		<key>T</key>
		<integer>-111</integer>
		<key>Z</key>
		<integer>54</integer>
		<key>Zcaron</key>
		<integer>54</integer>
		<key>asterisk</key>
		<integer>-111</integer>
		<key>comma</key>
		<integer>61</integer>
		<key>f</key>
		<integer>-18</integer>
		<key>question</key>
		<integer>-55</integer>
		<key>quotedbl</key>
		<integer>-74</integer>
		<key>quotesingle</key>
		<integer>-75</integer>
		<key>semicolon</key>
		<integer>61</integer>
		<key>t</key>
		<integer>-18</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>85</integer>
		<key>Oacute</key>
		<integer>-24</integer>
		<key>Ocircumflex</key>
		<integer>-24</integer>
		<key>Odieresis</key>
		<integer>-24</integer>
		<key>Ograve</key>
		<integer>-24</integer>
		<key>Oslash</key>
		<integer>-24</integer>
		<key>Otilde</key>
		<integer>-24</integer>
		<key>T</key>
		<integer>-111</integer>
		<key>Uacute</key>
		<integer>-24</integer>
		<key>Ucircumflex</key>
		<integer>-24</integer>
		<key>Udieresis</key>
		<integer>-24</integer>
		<key>Ugrave</key>
		<integer>-24</integer>
		<key>Z</key>
		<integer>54</integer>
		<key>Zcaron</key>
		<integer>53</integer>
		<key>asterisk</key>
		<integer>-117</integer>
		<key>comma</key>
		<integer>61</integer>
		<key>question</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>-111</integer>
		<key>quotedblright</key>
		<integer>-111</integer>
		<key>quoteright</key>
		<integer>-74</integer>
		<key>quotesingle</key>
		<integer>-111</integer>
		<key>semicolon</key>
		<integer>61</integer>
		<key>t</key>
		<integer>-24</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Agrave</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>54</integer>
		<key>T</key>
		<integer>-180</integer>
		<key>Z</key>
		<integer>53</integer>
		<key>Zcaron</key>
		<integer>54</integer>
		<key>asterisk</key>
		<integer>-111</integer>
		<key>comma</key>
		<integer>62</integer>
		<key>f</key>
		<integer>-18</integer>
		<key>question</key>
		<integer>-56</integer>
		<key>quotedbl</key>
		<integer>-74</integer>
		<key>semicolon</key>
		<integer>61</integer>
		<key>t</key>
		<integer>-91</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>85</integer>
		<key>Oacute</key>
		<integer>-24</integer>
		<key>Ocircumflex</key>
		<integer>-24</integer>
		<key>Odieresis</key>
		<integer>-24</integer>
		<key>Ograve</key>
		<integer>-24</integer>
		<key>Oslash</key>
		<integer>-24</integer>
		<key>Otilde</key>
		<integer>-24</integer>
		<key>T</key>
		<integer>-111</integer>
		<key>Uacute</key>
		<integer>-24</integer>
		<key>Ucircumflex</key>
		<integer>-24</integer>
		<key>Udieresis</key>
		<integer>-24</integer>
		<key>Ugrave</key>
		<integer>-24</integer>
		<key>Z</key>
		<integer>54</integer>
		<key>Zcaron</key>
		<integer>54</integer>
		<key>asterisk</key>
		<integer>-116</integer>
		<key>comma</key>
		<integer>62</integer>
		<key>question</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>-140</integer>
		<key>quotedblleft</key>
		<integer>-139</integer>
		<key>quotedblright</key>
		<integer>-111</integer>
		<key>quoteleft</key>
		<integer>-140</integer>
		<key>quotesingle</key>
		<integer>-140</integer>
		<key>semicolon</key>
		<integer>61</integer>
		<key>t</key>
		<integer>-24</integer>
		<key>trademark</key>
		<integer>-92</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Agrave</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>86</integer>
		<key>T</key>
		<integer>-111</integer>
		<key>Z</key>
		<integer>53</integer>
		<key>Zcaron</key>
		<integer>54</integer>
		<key>asterisk</key>
		<integer>-111</integer>
		<key>comma</key>
		<integer>62</integer>
		<key>f</key>
		<integer>-18</integer>
		<key>question</key>
		<integer>-56</integer>
		<key>quotedbl</key>
		<integer>-74</integer>
		<key>quotesingle</key>
		<integer>-75</integer>
		<key>semicolon</key>
		<integer>62</integer>
		<key>t</key>
		<integer>-18</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>AE</key>
		<integer>-55</integer>
		<key>X</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-56</integer>
		<key>period</key>
		<integer>-56</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>Eacute</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>55</integer>
		<key>hyphen</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-18</integer>
		<key>Egrave</key>
		<integer>-18</integer>
		<key>Iacute</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>55</integer>
		<key>hyphen</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-18</integer>
		<key>Egrave</key>
		<integer>-18</integer>
		<key>Iacute</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>55</integer>
		<key>hyphen</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-18</integer>
		<key>Egrave</key>
		<integer>-18</integer>
		<key>Iacute</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>56</integer>
		<key>hyphen</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>Gamma</key>
	<dict>
		<key>OE</key>
		<integer>-18</integer>
		<key>Oslash</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-18</integer>
		<key>quotedbl</key>
		<integer>-92</integer>
		<key>quotedblright</key>
		<integer>-92</integer>
		<key>quoteright</key>
		<integer>-92</integer>
		<key>quotesingle</key>
		<integer>-92</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>OE</key>
		<integer>-18</integer>
		<key>Oslash</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-18</integer>
		<key>Ydieresis</key>
		<integer>-93</integer>
	</dict>
	<key>Lambda</key>
	<dict>
		<key>AE</key>
		<integer>-111</integer>
		<key>OE</key>
		<integer>-37</integer>
		<key>Oslash</key>
		<integer>-37</integer>
		<key>Q</key>
		<integer>-37</integer>
		<key>ae</key>
		<integer>-55</integer>
		<key>comma</key>
		<integer>-92</integer>
		<key>d</key>
		<integer>-55</integer>
		<key>m</key>
		<integer>-37</integer>
		<key>oe</key>
		<integer>-55</integer>
		<key>oslash</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>q</key>
		<integer>-55</integer>
		<key>question</key>
		<integer>37</integer>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
	<key>Lslash</key>
	<dict>
		<key>OE</key>
		<integer>-18</integer>
		<key>Oslash</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-18</integer>
		<key>Yacute</key>
		<integer>-93</integer>
		<key>quotedbl</key>
		<integer>-93</integer>
		<key>quotedblright</key>
		<integer>-92</integer>
		<key>quoteright</key>
		<integer>-93</integer>
		<key>quotesingle</key>
		<integer>-93</integer>
	</dict>
	<key>Oacute</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>-9</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Scaron</key>
		<integer>-18</integer>
		<key>Yacute</key>
		<integer>-56</integer>
		<key>Ydieresis</key>
		<integer>-55</integer>
		<key>Zcaron</key>
		<integer>-37</integer>
		<key>braceright</key>
		<integer>-37</integer>
		<key>bracketright</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-75</integer>
		<key>parenright</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-56</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>-9</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Scaron</key>
		<integer>-18</integer>
		<key>Yacute</key>
		<integer>-56</integer>
		<key>Ydieresis</key>
		<integer>-55</integer>
		<key>Zcaron</key>
		<integer>-37</integer>
		<key>braceright</key>
		<integer>-37</integer>
		<key>bracketright</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-75</integer>
		<key>parenright</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-56</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>Adieresis</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>-9</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Scaron</key>
		<integer>-18</integer>
		<key>Yacute</key>
		<integer>-56</integer>
		<key>Ydieresis</key>
		<integer>-56</integer>
		<key>Zcaron</key>
		<integer>-37</integer>
		<key>braceright</key>
		<integer>-37</integer>
		<key>bracketright</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-75</integer>
		<key>parenright</key>
		<integer>-37</integer>
	</dict>
	<key>Ograve</key>
	<dict>
		<key>J</key>
		<integer>-9</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Scaron</key>
		<integer>-18</integer>
		<key>Yacute</key>
		<integer>-56</integer>
		<key>Ydieresis</key>
		<integer>-56</integer>
		<key>Zcaron</key>
		<integer>-37</integer>
		<key>braceright</key>
		<integer>-37</integer>
		<key>bracketright</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-74</integer>
		<key>parenright</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-56</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>AE</key>
		<integer>-37</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-55</integer>
	</dict>
	<key>Otilde</key>
	<dict>
		<key>Agrave</key>
		<integer>-37</integer>
		<key>J</key>
		<integer>-9</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Scaron</key>
		<integer>-18</integer>
		<key>Yacute</key>
		<integer>-56</integer>
		<key>Ydieresis</key>
		<integer>-55</integer>
		<key>Zcaron</key>
		<integer>-37</integer>
		<key>braceright</key>
		<integer>-37</integer>
		<key>bracketright</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-75</integer>
		<key>parenright</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-56</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>AE</key>
		<integer>-56</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-55</integer>
	</dict>
	<key>Scaron</key>
	<dict>
		<key>M</key>
		<integer>18</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Scaron</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
		<key>scaron</key>
		<integer>-18</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-56</integer>
		<key>Ocircumflex</key>
		<integer>-56</integer>
		<key>Otilde</key>
		<integer>-56</integer>
		<key>c</key>
		<integer>-99</integer>
		<key>oacute</key>
		<integer>-111</integer>
		<key>ocircumflex</key>
		<integer>-111</integer>
		<key>odieresis</key>
		<integer>-111</integer>
		<key>ograve</key>
		<integer>-111</integer>
		<key>otilde</key>
		<integer>-111</integer>
		<key>uacute</key>
		<integer>-75</integer>
		<key>ucircumflex</key>
		<integer>-75</integer>
		<key>udieresis</key>
		<integer>-75</integer>
		<key>yacute</key>
		<integer>-56</integer>
		<key>ydieresis</key>
		<integer>-56</integer>
	</dict>
	<key>Uacute</key>
	<dict>
		<key>M</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>Zcaron</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-18</integer>
		<key>aacute</key>
		<integer>-18</integer>
		<key>acircumflex</key>
		<integer>-18</integer>
		<key>adieresis</key>
		<integer>-18</integer>
		<key>agrave</key>
		<integer>-18</integer>
		<key>aring</key>
		<integer>-18</integer>
		<key>atilde</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-56</integer>
	</dict>
	<key>Ucircumflex</key>
	<dict>
		<key>M</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>Zcaron</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-18</integer>
		<key>aacute</key>
		<integer>-18</integer>
		<key>acircumflex</key>
		<integer>-18</integer>
		<key>adieresis</key>
		<integer>-18</integer>
		<key>agrave</key>
		<integer>-18</integer>
		<key>aring</key>
		<integer>-18</integer>
		<key>atilde</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-56</integer>
	</dict>
	<key>Udieresis</key>
	<dict>
		<key>M</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>Zcaron</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-18</integer>
		<key>aacute</key>
		<integer>-18</integer>
		<key>acircumflex</key>
		<integer>-18</integer>
		<key>adieresis</key>
		<integer>-18</integer>
		<key>agrave</key>
		<integer>-18</integer>
		<key>aring</key>
		<integer>-18</integer>
		<key>atilde</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-56</integer>
	</dict>
	<key>Ugrave</key>
	<dict>
		<key>M</key>
		<integer>-18</integer>
		<key>Z</key>
		<integer>-18</integer>
		<key>Zcaron</key>
		<integer>-18</integer>
		<key>a</key>
		<integer>-18</integer>
		<key>aacute</key>
		<integer>-18</integer>
		<key>acircumflex</key>
		<integer>-18</integer>
		<key>adieresis</key>
		<integer>-18</integer>
		<key>agrave</key>
		<integer>-18</integer>
		<key>aring</key>
		<integer>-18</integer>
		<key>atilde</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-56</integer>
	</dict>
	<key>Upsilondieresis</key>
	<dict>
		<key>AE</key>
		<integer>-129</integer>
		<key>Ccedilla</key>
		<integer>-40</integer>
		<key>M</key>
		<integer>-18</integer>
		<key>OE</key>
		<integer>-37</integer>
		<key>Oacute</key>
		<integer>-40</integer>
		<key>Ocircumflex</key>
		<integer>-40</integer>
		<key>Odieresis</key>
		<integer>-40</integer>
		<key>Ograve</key>
		<integer>-40</integer>
		<key>Oslash</key>
		<integer>-40</integer>
		<key>Otilde</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-37</integer>
		<key>Scaron</key>
		<integer>-24</integer>
		<key>aacute</key>
		<integer>-179</integer>
		<key>acircumflex</key>
		<integer>-179</integer>
		<key>adieresis</key>
		<integer>-179</integer>
		<key>ae</key>
		<integer>-162</integer>
		<key>agrave</key>
		<integer>-179</integer>
		<key>ampersand</key>
		<integer>-55</integer>
		<key>aring</key>
		<integer>-179</integer>
		<key>asterisk</key>
		<integer>37</integer>
		<key>atilde</key>
		<integer>-179</integer>
		<key>braceright</key>
		<integer>55</integer>
		<key>bracketright</key>
		<integer>55</integer>
		<key>bullet</key>
		<integer>-37</integer>
		<key>ccedilla</key>
		<integer>-162</integer>
		<key>comma</key>
		<integer>-176</integer>
		<key>d</key>
		<integer>-92</integer>
		<key>eacute</key>
		<integer>-162</integer>
		<key>ecircumflex</key>
		<integer>-162</integer>
		<key>edieresis</key>
		<integer>-162</integer>
		<key>egrave</key>
		<integer>-162</integer>
		<key>hyphen</key>
		<integer>-148</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>ntilde</key>
		<integer>-127</integer>
		<key>oacute</key>
		<integer>-162</integer>
		<key>ocircumflex</key>
		<integer>-162</integer>
		<key>odieresis</key>
		<integer>-162</integer>
		<key>oe</key>
		<integer>-162</integer>
		<key>ograve</key>
		<integer>-162</integer>
		<key>oslash</key>
		<integer>-162</integer>
		<key>otilde</key>
		<integer>-162</integer>
		<key>parenright</key>
		<integer>55</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>q</key>
		<integer>-92</integer>
		<key>question</key>
		<integer>37</integer>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
		<key>scaron</key>
		<integer>-120</integer>
		<key>uacute</key>
		<integer>-127</integer>
		<key>ucircumflex</key>
		<integer>-127</integer>
		<key>udieresis</key>
		<integer>-127</integer>
		<key>ugrave</key>
		<integer>-127</integer>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>aacute</key>
		<integer>-92</integer>
		<key>aring</key>
		<integer>-92</integer>
		<key>ntilde</key>
		<integer>-55</integer>
		<key>ugrave</key>
		<integer>-56</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>AE</key>
		<integer>-130</integer>
		<key>Ccedilla</key>
		<integer>-56</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>M</key>
		<integer>-56</integer>
		<key>Oacute</key>
		<integer>-56</integer>
		<key>Ocircumflex</key>
		<integer>-55</integer>
		<key>Odieresis</key>
		<integer>-55</integer>
		<key>Ograve</key>
		<integer>-56</integer>
		<key>Oslash</key>
		<integer>-56</integer>
		<key>Otilde</key>
		<integer>-56</integer>
		<key>Scaron</key>
		<integer>-121</integer>
		<key>T</key>
		<integer>35</integer>
		<key>aacute</key>
		<integer>-129</integer>
		<key>acircumflex</key>
		<integer>-130</integer>
		<key>adieresis</key>
		<integer>-130</integer>
		<key>agrave</key>
		<integer>-129</integer>
		<key>ampersand</key>
		<integer>-55</integer>
		<key>aring</key>
		<integer>-129</integer>
		<key>asterisk</key>
		<integer>37</integer>
		<key>atilde</key>
		<integer>-129</integer>
		<key>braceright</key>
		<integer>55</integer>
		<key>bracketright</key>
		<integer>56</integer>
		<key>comma</key>
		<integer>-148</integer>
		<key>d</key>
		<integer>-93</integer>
		<key>f</key>
		<integer>-24</integer>
		<key>hyphen</key>
		<integer>-92</integer>
		<key>m</key>
		<integer>-56</integer>
		<key>oacute</key>
		<integer>-93</integer>
		<key>oe</key>
		<integer>-93</integer>
		<key>oslash</key>
		<integer>-93</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>parenright</key>
		<integer>56</integer>
		<key>period</key>
		<integer>-93</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
		<key>r</key>
		<integer>-56</integer>
		<key>s</key>
		<integer>-75</integer>
		<key>ugrave</key>
		<integer>-56</integer>
		<key>yacute</key>
		<integer>-37</integer>
		<key>ydieresis</key>
		<integer>-37</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>M</key>
		<integer>-18</integer>
		<key>Oacute</key>
		<integer>-40</integer>
		<key>Ocircumflex</key>
		<integer>-40</integer>
		<key>Odieresis</key>
		<integer>-40</integer>
		<key>Ograve</key>
		<integer>-40</integer>
		<key>Oslash</key>
		<integer>-40</integer>
		<key>Otilde</key>
		<integer>-40</integer>
		<key>Scaron</key>
		<integer>-24</integer>
		<key>T</key>
		<integer>35</integer>
		<key>a</key>
		<integer>-92</integer>
		<key>aacute</key>
		<integer>-181</integer>
		<key>acircumflex</key>
		<integer>-181</integer>
		<key>adieresis</key>
		<integer>-181</integer>
		<key>ae</key>
		<integer>-164</integer>
		<key>agrave</key>
		<integer>-179</integer>
		<key>ampersand</key>
		<integer>-56</integer>
		<key>aring</key>
		<integer>-179</integer>
		<key>asterisk</key>
		<integer>37</integer>
		<key>atilde</key>
		<integer>-179</integer>
		<key>braceright</key>
		<integer>56</integer>
		<key>bracketright</key>
		<integer>56</integer>
		<key>bullet</key>
		<integer>-37</integer>
		<key>ccedilla</key>
		<integer>-164</integer>
		<key>comma</key>
		<integer>-177</integer>
		<key>d</key>
		<integer>-93</integer>
		<key>eacute</key>
		<integer>-164</integer>
		<key>ecircumflex</key>
		<integer>-162</integer>
		<key>edieresis</key>
		<integer>-162</integer>
		<key>egrave</key>
		<integer>-162</integer>
		<key>f</key>
		<integer>-24</integer>
		<key>g</key>
		<integer>-93</integer>
		<key>hyphen</key>
		<integer>-148</integer>
		<key>m</key>
		<integer>-56</integer>
		<key>ntilde</key>
		<integer>-128</integer>
		<key>oacute</key>
		<integer>-162</integer>
		<key>ocircumflex</key>
		<integer>-162</integer>
		<key>odieresis</key>
		<integer>-164</integer>
		<key>oe</key>
		<integer>-164</integer>
		<key>ograve</key>
		<integer>-164</integer>
		<key>oslash</key>
		<integer>-162</integer>
		<key>otilde</key>
		<integer>-164</integer>
		<key>p</key>
		<integer>-55</integer>
		<key>parenright</key>
		<integer>56</integer>
		<key>q</key>
		<integer>-93</integer>
		<key>quotesingle</key>
		<integer>74</integer>
		<key>scaron</key>
		<integer>-120</integer>
		<key>uacute</key>
		<integer>-128</integer>
		<key>ucircumflex</key>
		<integer>-128</integer>
		<key>udieresis</key>
		<integer>-127</integer>
		<key>ugrave</key>
		<integer>-128</integer>
	</dict>
	<key>Zcaron</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-37</integer>
		<key>Oacute</key>
		<integer>-37</integer>
		<key>Ocircumflex</key>
		<integer>-37</integer>
		<key>Odieresis</key>
		<integer>-37</integer>
		<key>Ograve</key>
		<integer>-37</integer>
		<key>Oslash</key>
		<integer>-37</integer>
		<key>Otilde</key>
		<integer>-37</integer>
		<key>S</key>
		<integer>-37</integer>
		<key>Scaron</key>
		<integer>-37</integer>
		<key>ae</key>
		<integer>-18</integer>
		<key>hyphen</key>
		<integer>-56</integer>
		<key>quotedbl</key>
		<integer>18</integer>
		<key>quotedblright</key>
		<integer>18</integer>
		<key>quotesingle</key>
		<integer>18</integer>
	</dict>
	<key>ae</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>afii10023</key>
	<dict>
		<key>Acircumflex</key>
		<integer>-18</integer>
		<key>Egrave</key>
		<integer>-18</integer>
		<key>Iacute</key>
		<integer>-18</integer>
		<key>J</key>
		<integer>55</integer>
		<key>hyphen</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>afii10056</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>afii10067</key>
	<dict>
		<key>quotedbl</key>
		<integer>55</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>55</integer>
	</dict>
	<key>afii10071</key>
	<dict>
		<key>quotedbl</key>
		<integer>-94</integer>
		<key>quotesingle</key>
		<integer>-37</integer>
	</dict>
	<key>afii10072</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>afii10073</key>
	<dict>
		<key>quotedbl</key>
		<integer>55</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>55</integer>
	</dict>
	<key>afii10076</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>afii10093</key>
	<dict>
		<key>quotedbl</key>
		<integer>56</integer>
		<key>quotedblright</key>
		<integer>56</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>55</integer>
	</dict>
	<key>afii10094</key>
	<dict>
		<key>quotedbl</key>
		<integer>55</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>55</integer>
	</dict>
	<key>afii10097</key>
	<dict>
		<key>quotedbl</key>
		<integer>55</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>55</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>quotesingle</key>
		<integer>-37</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
		<key>quotedblright</key>
		<integer>56</integer>
		<key>quoteright</key>
		<integer>56</integer>
	</dict>
	<key>chi</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>Oacute</key>
		<integer>-56</integer>
		<key>Ocircumflex</key>
		<integer>-56</integer>
		<key>Oslash</key>
		<integer>-56</integer>
		<key>Q</key>
		<integer>-55</integer>
		<key>Yacute</key>
		<integer>-93</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>quotedbl</key>
		<integer>-94</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>quotedbl</key>
		<integer>-94</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>quotedbl</key>
		<integer>-94</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>quotedbl</key>
		<integer>-94</integer>
	</dict>
	<key>epsilon</key>
	<dict>
		<key>quotedbl</key>
		<integer>55</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>55</integer>
	</dict>
	<key>eta</key>
	<dict>
		<key>quotesingle</key>
		<integer>-37</integer>
	</dict>
	<key>gamma</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>quotesingle</key>
		<integer>-55</integer>
	</dict>
	<key>iota</key>
	<dict>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
	<key>kappa</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>lambda</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quoteright</key>
		<integer>55</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>quotesingle</key>
		<integer>-37</integer>
	</dict>
	<key>ntilde</key>
	<dict>
		<key>quotedbl</key>
		<integer>-94</integer>
		<key>quotedblright</key>
		<integer>-37</integer>
	</dict>
	<key>nu</key>
	<dict>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>oacute</key>
	<dict>
		<key>f</key>
		<integer>-33</integer>
		<key>quotedbl</key>
		<integer>-131</integer>
		<key>quotesingle</key>
		<integer>-131</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
		<key>f</key>
		<integer>-33</integer>
		<key>quotedbl</key>
		<integer>-130</integer>
		<key>quotesingle</key>
		<integer>-131</integer>
	</dict>
	<key>odieresis</key>
	<dict>
		<key>f</key>
		<integer>-33</integer>
		<key>quotedbl</key>
		<integer>-131</integer>
		<key>quotesingle</key>
		<integer>-131</integer>
	</dict>
	<key>oe</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>ograve</key>
	<dict>
		<key>f</key>
		<integer>-33</integer>
		<key>quotedbl</key>
		<integer>-130</integer>
		<key>quotesingle</key>
		<integer>-131</integer>
	</dict>
	<key>oslash</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>otilde</key>
	<dict>
		<key>f</key>
		<integer>-33</integer>
		<key>quotedbl</key>
		<integer>-130</integer>
		<key>quotesingle</key>
		<integer>-131</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>Oacute</key>
		<integer>-56</integer>
		<key>Ocircumflex</key>
		<integer>-56</integer>
		<key>Oslash</key>
		<integer>-56</integer>
		<key>Q</key>
		<integer>-55</integer>
		<key>Yacute</key>
		<integer>-93</integer>
	</dict>
	<key>phi</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>psi</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>AE</key>
		<integer>-149</integer>
		<key>Adieresis</key>
		<integer>-74</integer>
		<key>Aring</key>
		<integer>-74</integer>
		<key>X</key>
		<integer>37</integer>
		<key>Ydieresis</key>
		<integer>74</integer>
		<key>ae</key>
		<integer>-56</integer>
		<key>d</key>
		<integer>-56</integer>
		<key>oacute</key>
		<integer>-56</integer>
		<key>oe</key>
		<integer>-55</integer>
		<key>ograve</key>
		<integer>-56</integer>
		<key>oslash</key>
		<integer>-56</integer>
		<key>q</key>
		<integer>-56</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-170</integer>
		<key>AE</key>
		<integer>-149</integer>
		<key>Aacute</key>
		<integer>-75</integer>
		<key>Acircumflex</key>
		<integer>-75</integer>
		<key>Agrave</key>
		<integer>-75</integer>
		<key>Aring</key>
		<integer>-75</integer>
		<key>X</key>
		<integer>37</integer>
		<key>Yacute</key>
		<integer>75</integer>
		<key>Ydieresis</key>
		<integer>75</integer>
		<key>ae</key>
		<integer>-55</integer>
		<key>ccedilla</key>
		<integer>-55</integer>
		<key>d</key>
		<integer>-56</integer>
		<key>eacute</key>
		<integer>-56</integer>
		<key>ocircumflex</key>
		<integer>-56</integer>
		<key>oe</key>
		<integer>-55</integer>
		<key>oslash</key>
		<integer>-56</integer>
		<key>q</key>
		<integer>-56</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-180</integer>
		<key>AE</key>
		<integer>-149</integer>
		<key>Aacute</key>
		<integer>-75</integer>
		<key>Acircumflex</key>
		<integer>-75</integer>
		<key>Agrave</key>
		<integer>-75</integer>
		<key>Aring</key>
		<integer>-75</integer>
		<key>X</key>
		<integer>37</integer>
		<key>ae</key>
		<integer>-55</integer>
		<key>ccedilla</key>
		<integer>-55</integer>
		<key>d</key>
		<integer>-56</integer>
		<key>eacute</key>
		<integer>-56</integer>
		<key>ocircumflex</key>
		<integer>-56</integer>
		<key>odieresis</key>
		<integer>-56</integer>
		<key>oe</key>
		<integer>-55</integer>
		<key>ograve</key>
		<integer>-56</integer>
		<key>oslash</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-56</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-148</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>AE</key>
		<integer>-149</integer>
		<key>Aacute</key>
		<integer>-75</integer>
		<key>Acircumflex</key>
		<integer>-75</integer>
		<key>Agrave</key>
		<integer>-75</integer>
		<key>Atilde</key>
		<integer>-75</integer>
		<key>X</key>
		<integer>37</integer>
		<key>Ydieresis</key>
		<integer>74</integer>
		<key>ae</key>
		<integer>-56</integer>
		<key>d</key>
		<integer>-56</integer>
		<key>oacute</key>
		<integer>-56</integer>
		<key>oe</key>
		<integer>-55</integer>
		<key>ograve</key>
		<integer>-56</integer>
		<key>oslash</key>
		<integer>-56</integer>
		<key>q</key>
		<integer>-56</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>aacute</key>
		<integer>-18</integer>
		<key>acircumflex</key>
		<integer>-18</integer>
		<key>adieresis</key>
		<integer>-18</integer>
		<key>agrave</key>
		<integer>-18</integer>
		<key>aring</key>
		<integer>-18</integer>
		<key>atilde</key>
		<integer>-18</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-17</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-10</integer>
	</dict>
	<key>tau</key>
	<dict>
		<key>quotedbl</key>
		<integer>74</integer>
		<key>quotedblright</key>
		<integer>74</integer>
		<key>quoteright</key>
		<integer>74</integer>
		<key>quotesingle</key>
		<integer>74</integer>
	</dict>
	<key>uacute</key>
	<dict>
		<key>quotedbl</key>
		<integer>-59</integer>
		<key>quotesingle</key>
		<integer>-59</integer>
	</dict>
	<key>ucircumflex</key>
	<dict>
		<key>quotedbl</key>
		<integer>-59</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>udieresis</key>
	<dict>
		<key>quotedbl</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>-59</integer>
	</dict>
	<key>ugrave</key>
	<dict>
		<key>quotedbl</key>
		<integer>-59</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-49</integer>
		<key>ae</key>
		<integer>-49</integer>
		<key>oe</key>
		<integer>-37</integer>
		<key>oslash</key>
		<integer>-37</integer>
		<key>quotedbl</key>
		<integer>37</integer>
		<key>quotedblright</key>
		<integer>37</integer>
		<key>quoteright</key>
		<integer>37</integer>
		<key>quotesingle</key>
		<integer>37</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>ae</key>
		<integer>-9</integer>
		<key>c</key>
		<integer>-9</integer>
		<key>ccedilla</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-9</integer>
		<key>e</key>
		<integer>-9</integer>
		<key>eacute</key>
		<integer>-9</integer>
		<key>ecircumflex</key>
		<integer>-9</integer>
		<key>edieresis</key>
		<integer>-9</integer>
		<key>egrave</key>
		<integer>-9</integer>
		<key>ellipsis</key>
		<integer>-115</integer>
		<key>g</key>
		<integer>-9</integer>
		<key>guilsinglright</key>
		<integer>11</integer>
		<key>o</key>
		<integer>-9</integer>
		<key>oacute</key>
		<integer>-9</integer>
		<key>ocircumflex</key>
		<integer>-9</integer>
		<key>odieresis</key>
		<integer>-9</integer>
		<key>oe</key>
		<integer>-9</integer>
		<key>ograve</key>
		<integer>-9</integer>
		<key>oslash</key>
		<integer>-9</integer>
		<key>otilde</key>
		<integer>-9</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-9</integer>
		<key>question</key>
		<integer>-69</integer>
		<key>quotedblbase</key>
		<integer>-104</integer>
		<key>quotedblright</key>
		<integer>55</integer>
		<key>quotesinglbase</key>
		<integer>-104</integer>
		<key>t</key>
		<integer>5</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>55</integer>
	</dict>
	<key>zcaron</key>
	<dict>
		<key>quotedblright</key>
		<integer>18</integer>
	</dict>
</dict>
</plist>
