<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <key>@MMK_L_y</key>
      <array>
              </array>
    <key>@MMK_L_z</key>
      <array>
              </array>
    <key>@MMK_L_s</key>
      <array>
              </array>
    <key>@MMK_L_r</key>
      <array>
              </array>
    <key>@MMK_L_u</key>
      <array>
              </array>
    <key>@MMK_L_t</key>
      <array>
              </array>
    <key>@MMK_L_i</key>
      <array>
              </array>
    <key>@MMK_L_k</key>
      <array>
              </array>
    <key>@MMK_L_j</key>
      <array>
              </array>
    <key>@MMK_L_o</key>
      <array>
              </array>
    <key>@MMK_L_n</key>
      <array>
              </array>
    <key>@MMK_L_a</key>
      <array>
              </array>
    <key>@MMK_R_uni0406</key>
      <array>
              </array>
    <key>@MMK_L_c</key>
      <array>
              </array>
    <key>@MMK_L_e</key>
      <array>
              </array>
    <key>@MMK_L_g</key>
      <array>
              </array>
    <key>@MMK_L_Y</key>
      <array>
              </array>
    <key>@MMK_L_Z</key>
      <array>
              </array>
    <key>@MMK_L_S</key>
      <array>
              </array>
    <key>@MMK_L_R</key>
      <array>
              </array>
    <key>@MMK_L_U</key>
      <array>
              </array>
    <key>@MMK_L_T</key>
      <array>
              </array>
    <key>@MMK_L_I</key>
      <array>
              </array>
    <key>@MMK_L_uni0406</key>
      <array>
              </array>
    <key>@MMK_L_O</key>
      <array>
              </array>
    <key>@MMK_L_N</key>
      <array>
              </array>
    <key>@MMK_L_A</key>
      <array>
              </array>
    <key>@MMK_L_C</key>
      <array>
              </array>
    <key>@MMK_L_E</key>
      <array>
              </array>
    <key>@MMK_L_G</key>
      <array>
              </array>
    <key>@MMK_L_uni0435</key>
      <array>
              </array>
    <key>@MMK_R_s</key>
      <array>
              </array>
    <key>@MMK_R_r</key>
      <array>
              </array>
    <key>@MMK_R_afii10026</key>
      <array>
              </array>
    <key>@MMK_L_afii10026</key>
      <array>
              </array>
    <key>@MMK_R_u</key>
      <array>
              </array>
    <key>@MMK_R_t</key>
      <array>
              </array>
    <key>@MMK_R_z</key>
      <array>
              </array>
    <key>@MMK_R_y</key>
      <array>
              </array>
    <key>@MMK_L_uni0433</key>
      <array>
              </array>
    <key>@MMK_R_c</key>
      <array>
              </array>
    <key>@MMK_R_a</key>
      <array>
              </array>
    <key>@MMK_R_uni0435</key>
      <array>
              </array>
    <key>@MMK_R_g</key>
      <array>
              </array>
    <key>@MMK_R_R</key>
      <array>
              </array>
    <key>@MMK_R_e</key>
      <array>
              </array>
    <key>@MMK_R_k</key>
      <array>
              </array>
    <key>@MMK_R_j</key>
      <array>
              </array>
    <key>@MMK_R_i</key>
      <array>
              </array>
    <key>@MMK_R_o</key>
      <array>
              </array>
    <key>@MMK_R_n</key>
      <array>
              </array>
    <key>@MMK_R_uni0433</key>
      <array>
              </array>
    <key>@MMK_R_S</key>
      <array>
              </array>
    <key>@MMK_L_J</key>
      <array>
              </array>
    <key>@MMK_R_uni0413</key>
      <array>
              </array>
    <key>@MMK_R_uni0415</key>
      <array>
              </array>
    <key>@MMK_R_U</key>
      <array>
              </array>
    <key>@MMK_R_T</key>
      <array>
              </array>
    <key>@MMK_R_Z</key>
      <array>
              </array>
    <key>@MMK_R_Y</key>
      <array>
              </array>
    <key>@MMK_R_uni0438</key>
      <array>
              </array>
    <key>@MMK_R_C</key>
      <array>
              </array>
    <key>@MMK_R_A</key>
      <array>
              </array>
    <key>@MMK_L_uni0415</key>
      <array>
              </array>
    <key>@MMK_R_G</key>
      <array>
              </array>
    <key>@MMK_L_uni0413</key>
      <array>
              </array>
    <key>@MMK_R_E</key>
      <array>
              </array>
    <key>@MMK_L_uni0438</key>
      <array>
              </array>
    <key>@MMK_R_J</key>
      <array>
              </array>
    <key>@MMK_R_I</key>
      <array>
              </array>
    <key>@MMK_R_O</key>
      <array>
              </array>
    <key>@MMK_R_N</key>
      <array>
              </array>
    </dict>
</plist>
