<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<dict>
		<key>@KERN_RIGHT_C</key>
		<integer>-46</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-43</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-98</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-4</integer>
		<key>@KERN_RIGHT_u</key>
		<integer>-8</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-44</integer>
		<key>U</key>
		<integer>-38</integer>
		<key>V</key>
		<integer>-159</integer>
		<key>W</key>
		<integer>-102</integer>
		<key>j</key>
		<integer>-64</integer>
		<key>quotedblright</key>
		<integer>-162</integer>
		<key>quoteright</key>
		<integer>-173</integer>
		<key>v</key>
		<integer>-46</integer>
		<key>w</key>
		<integer>-58</integer>
	</dict>
	<key>@KERN_LEFT_D</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-48</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-57</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-33</integer>
		<key>V</key>
		<integer>-8</integer>
		<key>W</key>
		<integer>-16</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-75</integer>
	</dict>
	<key>@KERN_LEFT_T</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-43</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-57</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-52</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-53</integer>
		<key>@KERN_RIGHT_u</key>
		<integer>-39</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-97</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-87</integer>
		<key>period</key>
		<integer>-119</integer>
		<key>s</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-22</integer>
		<key>w</key>
		<integer>-39</integer>
	</dict>
	<key>@KERN_LEFT_U</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-14</integer>
		<key>J</key>
		<integer>-21</integer>
	</dict>
	<key>@KERN_LEFT_Y</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-98</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-33</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-77</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_m</key>
		<integer>-51</integer>
		<key>@KERN_RIGHT_u</key>
		<integer>-65</integer>
		<key>comma</key>
		<integer>-151</integer>
		<key>g</key>
		<integer>-160</integer>
		<key>hyphen</key>
		<integer>-108</integer>
		<key>period</key>
		<integer>-108</integer>
		<key>s</key>
		<integer>-52</integer>
		<key>w</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-38</integer>
		<key>z</key>
		<integer>-66</integer>
	</dict>
	<key>@KERN_LEFT_b</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-17</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-87</integer>
		<key>period</key>
		<integer>-54</integer>
		<key>v</key>
		<integer>-21</integer>
		<key>w</key>
		<integer>-7</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>@KERN_LEFT_k</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-64</integer>
	</dict>
	<key>@KERN_LEFT_r</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-29</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-38</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>g</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-173</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-19</integer>
	</dict>
	<key>@KERN_LEFT_t</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-19</integer>
		<key>g</key>
		<integer>-19</integer>
	</dict>
	<key>@KERN_LEFT_y</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-119</integer>
		<key>g</key>
		<integer>-22</integer>
		<key>period</key>
		<integer>-108</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-42</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-33</integer>
		<key>period</key>
		<integer>-43</integer>
		<key>v</key>
		<integer>-14</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-13</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-43</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-56</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-26</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-18</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@KERN_RIGHT_C</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-27</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-31</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-22</integer>
		<key>@KERN_RIGHT_u</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-34</integer>
		<key>W</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>-37</integer>
		<key>w</key>
		<integer>-34</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@KERN_RIGHT_C</key>
		<integer>-24</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-137</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-200</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-54</integer>
		<key>V</key>
		<integer>-89</integer>
		<key>W</key>
		<integer>-67</integer>
		<key>v</key>
		<integer>-38</integer>
		<key>w</key>
		<integer>-18</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-118</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-58</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-19</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>-67</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-303</integer>
		<key>g</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-249</integer>
		<key>s</key>
		<integer>-24</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@KERN_RIGHT_Y</key>
		<integer>-42</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-12</integer>
		<key>V</key>
		<integer>-22</integer>
		<key>W</key>
		<integer>-24</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>v</key>
		<integer>-22</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-119</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-8</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-113</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-56</integer>
		<key>@KERN_RIGHT_u</key>
		<integer>-19</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-26</integer>
		<key>J</key>
		<integer>-36</integer>
		<key>comma</key>
		<integer>-205</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-82</integer>
		<key>period</key>
		<integer>-195</integer>
		<key>s</key>
		<integer>-32</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-86</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-16</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-83</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-49</integer>
		<key>@KERN_RIGHT_u</key>
		<integer>-8</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-54</integer>
		<key>g</key>
		<integer>-46</integer>
		<key>hyphen</key>
		<integer>-43</integer>
		<key>j</key>
		<integer>-88</integer>
		<key>period</key>
		<integer>-108</integer>
		<key>s</key>
		<integer>-30</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@KERN_RIGHT_c</key>
		<integer>-19</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-24</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-23</integer>
		<key>v</key>
		<integer>-22</integer>
		<key>w</key>
		<integer>-24</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-18</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-24</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>@KERN_RIGHT_y</key>
		<integer>-16</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>v</key>
		<integer>-6</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>w</key>
		<integer>-24</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-31</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-141</integer>
		<key>period</key>
		<integer>-162</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>@KERN_RIGHT_a</key>
		<integer>-33</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-7</integer>
		<key>comma</key>
		<integer>-87</integer>
		<key>period</key>
		<integer>-87</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@KERN_RIGHT_c</key>
		<integer>-24</integer>
	</dict>
</dict>
</plist>
